/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Animations */
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

/* Page Styles */
html, body {
	width: 100%;
	height: 100%;
}
body {
	background: url('../img/background.png');
}
body, h1, h2 {
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: 58px;
	color: #111;
	font-weight: bold;
}
h1 span {
	color: #ccc;
}
h2 {
	color: #555;
	font-size: 27px;
	margin-top: 0px;
	padding: 0 0 10px 0;
	line-height: 80%;
}
.container {
	width: 100%;
}
.glyphicon {
	margin-right: 10px;
	color: #298fc9;
}
.error {
	color: #a30000;
}
.success, .link {
	color: #298fc9;
}
#header {
	margin: 0 0 0 13px;
}
#drop {
	width: 363px;
	height: 363px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 5px dashed #ccc;
	padding: 10px;
	border-radius: 50%;
	opacity: 0;
}
#drop div {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: table;
	background: rgba(0, 0, 0, .8);
	-webkit-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
#drop.ready {
	opacity: 1;
	-webkit-transition: opacity .3s ease-in-out, border-color .2s ease-in-out;
	transition: opacity .3s ease-in-out, border-color .2s ease-in-out;
}
#drop.hover {
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
	border-color: #aaa;
}
#drop.hover div {
	background: rgba(0, 0, 0, .9);
}
#drop.hover #status {
	-webkit-animation: spin 10s reverse linear infinite;
	animation: spin 10s reverse linear infinite;
}
#status {
	font-size: 22px;
	color: #eee;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#message {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	background: rgba(0, 0, 0, .9);
	line-height: 68px;
	height: 0;
	font-size: 16px;
	color: #eee;
	box-shadow: 0 -3px 5px rgba(0,0,0,0.5);
	border-top: 1px solid #0c0c0c;
	-webkit-transition: height .3s ease-in-out;
	transition: height .3s ease-in-out;
}
#message.open {
	height: 70px;
}