/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Animations */
@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, .1);
	}
	50% {
		-webkit-box-shadow: inset 0 0 50px 0 rgba(80, 158, 223, .2);
	}
	100% {
		-webkit-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, .1);
	}
}

/* Page Styles */
html, body {
	width: 100%;
	height: 100%;
}
body {
	background: url('../img/background.png');
}
body, h1, h2 {
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: 70px;
	color: #ddd;
	text-align: center;
}
h2 {
	color: #999;
	font-size: 36px;
	text-align: center;
}
.glyphicon {
	margin-right: 10px;
	color: #298fc9;
}
.error {
	color: #a30000;
}
.success, .link {
	color: #298fc9;
}
#drop {
	width: 320px;
	height: 320px;
	border: 5px dashed rgba(0, 0, 0, 0);
	border-radius: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	line-height: 305px;
	font-size: 22px;
}
#drop.ready {
	background: rgba(0, 0, 0, .4);
	border: 5px dashed rgba(255, 255, 255, .6);
	-webkit-transition: background .5s ease-in-out, border .5s ease-in-out;
	transition: background .5s ease-in-out, border .5s ease-in-out;
}
#drop.hover {
	border: 5px dashed rgba(41, 143, 201, .8);
	-webkit-transition: border .3s ease-in-out;
	-webkit-animation: pulse 2s infinite ease-in-out;
}
#status {
	color: #666;
}
#message {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	background: rgba(0, 0, 0, .9);
	line-height: 68px;
	height: 0;
	font-size: 16px;
	color: #eee;
	box-shadow: 0 -3px 5px rgba(0,0,0,0.5);
	border-top: 1px solid #0c0c0c;
	-webkit-transition: height .3s ease-in-out;
	transition: height .3s ease-in-out;
}
#message.open {
	height: 70px;
}